body{
margin:0;
font-family:Arial;
background:#e8ffe8;
}

.header{
background:#0b7a0b;
color:white;
padding:25px;
text-align:center;
font-size:40px;
font-weight:bold;
}

.container{
display:flex;
min-height:500px;
}

.menu{
width:250px;
background:#145214;
padding:20px;
}

.menu a{
display:block;
color:white;
text-decoration:none;
padding:12px;
margin-bottom:5px;
background:#1f7a1f;
border-radius:5px;
}

.menu a:hover{
background:#2ecc71;
}

.content{
flex:1;
padding:25px;
background:white;
}

.footer{
background:#0b7a0b;
color:white;
text-align:center;
padding:15px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#1f7a1f;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ccc;
text-align:center;
}